*{
    margin: 0;
    padding: 0;
    border:1px solid red;
    font-size: 24px;
}

.wrapper{
    width: 600px;
    height: 600px;
    border:2px solid
}
 img{
     width: 250px;
     height: 250px;
     border:1px solid red;
     margin: 15px;
 }
 .image{
     float: left;
 }
.blue{
    background-color: aqua;
}
.yellow{
    background-color:yellow;
    
}
.green{
    background-color: rgb(26, 163, 13);
    clear: left;
}

.box{
    width: 200px;
    height: 200px;
    background-color: tomato;
    margin: 20px;
}