*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

baby{
    //background: rgba(255, 169, 77, 0.2) url(./img/icon/Vector\ \(3\).png) 50% 130px no-repeat;
}
.wrapper{
    width: 1438px;
    background:#E5E5E5;
    font-family: "Poppins";
    font-style: normal;
    margin: 0 auto;
}
header{
    width: 1280px;
    margin: 0 auto;
    background: #FAFBFE;
    display: flex;
    .header__login{
        flex: 0 0 110px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 65px;
        letter-spacing: 0.396px;
        color: rgba(0, 0, 0, 0.85);

    }
    .header__link{
        flex: 1 1 auto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 65px;
        letter-spacing: 0.396px;
        color: #474747;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .header__link1{
            margin-right: 40px;
        }
    }

}
.oranges{
    width: 1280px;
    height: 560px;
    background: linear-gradient(259.08deg, #D5ECFF 0.69%, #E6F2FC 100%);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    margin: 0 auto;
    .your__content{
        height: 560px;
        display: flex;
        flex-direction: row;
        .your__block1{
            min-height: 560px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            .your__row{
                padding: 126px 146px 182px 53px;
                .row-link{
                    padding: 129px 0 0 6px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 9px;
                    letter-spacing: 0.396px;
                    color: #FF8400;
                }
                .row-title{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 54px;
                    line-height: 65px;
                    letter-spacing: 0.396px;
                    color: #2D2D2D;
                
                }
                .row-text{
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0.396px;
                    color: rgba(0, 0, 0, 0.7);
                
                }
            }
            .your__link{
                flex: 0 0 auto;
                padding: 0px 237px 34px 54px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .row-link1{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 9px;
                    letter-spacing: 0.396px;
                    color: rgba(71, 71, 71, 0.3);
                }
            }
        }
    }
}
.your__image{
    padding: 62px 88px 66px 30px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
}
.columns{
    width: 1123px;
    margin: 0 129px 0px 188px;
    
}
.columns__title{
    font-weight: 600;
    font-size: 34px;
    line-height: 43px;
    letter-spacing: 0.396px;
    color: #2D2D2D;
    margin: 173px 0 146px 0;
}
span{
    text-decoration: underline;
    text-decoration-color: #e29747;
}

.columns__row{
    display: flex;
    .row{
        flex: 0 1 33,333%;
        margin-right: 100px;
    }

}
.columns__item{
    display: flex;
    flex-direction: column;  
    .columns__image{
        background: #E3FCE6;
        padding: 18px 18px 17px 17px;
        width: 53px;
        height: 53px;
    }
    .columns__subtitle{
        padding: 28px 0;
        text-align: left;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.396px;
        color: #474747;
    }
    .columns__text{
        text-align: left;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.396px;
        color: rgba(0, 0, 0, 0.7);
    }
}
#pink{
    background:#FFF6E5;
}
//.center-background{
 //   position: absolute;
 //   width: 404.28px;
 //   height: 408.18px;
  //  left: 433.57px;
  //  top: 1164.36px;
  //  border: 2px solid red;
//}
.gallery{
    width: 1172px;
    margin: 0 80px 0px 188px;
}
.gallery__title{
    font-weight: 600;
    font-size: 34px;
    line-height: 43px;
    letter-spacing: 0.396px;
    color: #2D2D2D;
    margin: 261px 0 55px 0;
}

.gallery-image{
    border-radius: 8px;
}
#gallery1{
    background: linear-gradient(180deg, #AE1A1A 0%, #000000 100%);
    margin-bottom: 70px;
    position: relative;
    width: 100%;
}
.gallery-subtitle{
    font-weight: 600;
    font-size: 34px;
    line-height: 43px;
    letter-spacing: 0.396px;
    color: #FFFFFF;
    position: absolute;
    width: 360px;
    height: 82px;
    left: 415px;
    top: 2015px;
}
.gallery__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
}
.gallery__link{
    font-weight: 600;
    font-size: 24px;
    line-height: 43px;
    letter-spacing: 0.396px;
    color: #2D2D2D;
    //margin-top: 62px;
    text-decoration: underline;
    text-decoration-line:  #4093DC;
    padding-top: 300px;
}
.designer{
    width: 1438px;
    margin: 230px 0 0 0px;
    background:#FFFFFF;
    text-align: center;
    .designer__columns-body{
        padding: 130px 0 114px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        } 
    }
.designer__shadow{
    display: flex;
    flex-direction: column;
    position: relative;
    .designer__face1{
        padding: 17px 15px 0 0;
        z-index: 2;
    }
    .designer__face1-1{
        position: absolute;
        top: -2px;
        right: -7px;
        z-index: 1;
    }
    .designer__face2{
        padding: 17px 15px 0 0;
        z-index: 2;
    }
    .designer__face2-1{
        position: absolute;
        top: -3px;
        right: -10px;
        left: -10px;
        z-index: 1;
    }
    .designer__face3{
        padding: 17px 15px 0 0;
        z-index: 2;
    }
    .designer__face3-1{
        position: absolute;
        top: -3px;
        right: -10px;
        left: -10px;
        z-index: 1;
    }
    
}
.designer__name{
    font-weight: 600;
    font-size: 20px;
    line-height: 9px;
    letter-spacing: 0.396px;
    color: #474747;
    padding-top: 34px;
} 
.designer__profession{
    font-weight: 300;
    font-size: 16px;
    line-height: 9px;
    letter-spacing: 0.396px;
    color: #474747;
    padding-top: 19px;
}
.designer__contacts{
    padding-top: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .designer__icon{
        border: 1px solid #ACD7FB;
        box-sizing: border-box;
        border-radius: 50%;
        padding: 11px 13px 11px 15px;
    }
}
.icons{
    margin: 50px 80px 154px 80px;
    background: #FFFFFF;
    border-radius: 4px;
    .icon__bocks{
        width: 1278px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 40px 0;
       
    }
}
.icons__first:first-child{
    padding-left: 234px;
}
.icons__last:last-child{
    padding-right: 236px;
}
.collform__content{
    display: flex;
    flex-direction: row;
    .collform__description{
        display: flex;
        flex-direction: column;
        .collform__title{
            font-weight: 600;
            font-size: 34px;
            line-height: 43px;
            letter-spacing: 0.396px;
            color: #2D2D2D;
            padding: 0px 130px 31px 190px;
        }
        .collform__text{
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.396px;
            color: rgba(0, 0, 0, 0.7);
            padding: 0 0 195px 192px;
        }
    }
    .collform__form{
        width: 45%;

    }
}
.form__email{
    background: #FFFFFF;
    border: 1px solid #4093DC;
    box-sizing: border-box;
    border-radius: 4px;
    width: 630px;
    font-weight: 300;
    font-size: 18px;
    line-height: 60px;
    letter-spacing: 0.396px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    padding-left: 30px;
}
.form__name{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
    width: 630px;
    font-weight: 300;
    font-size: 18px;
    line-height: 60px;
    letter-spacing: 0.396px;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    padding-left: 30px;
}
.form__text{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
    width: 630px;
    height: 277px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 60px;
    letter-spacing: 0.396px;
    color: rgba(0, 0, 0, 0.3);
    padding-left: 30px;
}
.form__send{
    font-weight: 500;
    font-size: 18px;
    line-height: 60px;
    letter-spacing: 0.396px;
    color: #4093DC;
    border: 1px solid #4093DC;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 98px;
    padding: 0 75px;
    }

footer{
    background: #F4F8FD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .footer__log{
        padding: 57px 0 57px 80px;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.396px;
        color: rgba(0, 0, 0, 0.85);
        }
    .footer__text{
        padding: 57px 0;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.396px;
        color: rgba(0, 0, 0, 0.7);
        }
    .footer__text1{
        padding: 57px 77px 57px 0;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.396px;
        color: rgba(0, 0, 0, 0.7);
        }
}